<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content="Tianyu Gao\'s website.">
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='Tianyu Gao'>

    <link rel='shortcut icon' href='/assets/website/website.png' />
    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
<div class='content'>
    {% include nav.html %}
    <div class='front-matter'>
        <div class='wrap'>
            <h1>{{ page.title }}</h1>
            <h4>{{ page.subtitle }}</h4>
            <div class='bylines'>
                <div class='byline'>
                    <p>{{page.authors}}</p>
                    <p>{{ page.date |  date: '%d %B %Y' }}</p>
                </div>
            </div>
            <div class='clear'></div>
        </div>
    </div>
    <div class='wrap article'>
        {{ content }}
    </div>

</div>
</body>
</html>